body{
    margin: 0;
    padding: 0;
    background-image: url(/images/img2.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
header{
   
    display: block;
}
.webdev {
    background-color: rgb(33, 85, 85);
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;    
}
.social{
    float:Right;
    height: 20px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}