body{
    background-color: rgb(17, 72, 82);
	margin:0;
}
header{
   
    display: block;
}

.social{
    float:Right;
    height: 20px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#form_login {
display: table-cell;
text-align: center;
vertical-align: middle;
}
body{
    background-image: url(images/img2.jpg);
    
    background-position: center; 
    background-size: cover;
    width:100%;
    height:100%

}
#outPopUp {
    width: 350px;
    height: 550px;
    background-color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

input{
    width: 80%;
    border: none;
   /* border-radius: 10px;   */
    border-bottom: 2px solid rgb(23, 59, 59);
    
    margin-bottom: 10px;
    background-color: white;
}
input:focus{
    border-bottom: 10px solid rgb(23, 59, 59);
}
input[type=text],input[type=password],input[type=Email]{
    border: none;
    border-bottom: 1px solid black;
    height: 40px;

}
.form_Signup{
    color:black;
    margin: 15px;
    text-align: center;
    margin-bottom:20px;
    background-color:rgb(203,196,25);
}
input[type=submit]{
    margin: 4px 2px;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    background-color:rgb(24, 68, 68);
}
label{
    font-size: 20px;
    font-weight:500;
}
.multicolortext {
    background-color: rgb(33, 85, 85);
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    /*
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 30px;
    */ 
}