body{
    margin: 0;
    padding: 0;
    background-image: url(/images/img2.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
header{
   
    display: block;
}
.webdev {
    background-color: rgb(33, 85, 85);
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 0px;
    /*
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    font-size: 30px;
    */ 
}
.social{
    float:Right;
    height: 20px;
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.loginbox{
    
    width: 350px;
    height: 550px;
    background-color: #fff;
    top: 60%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0px;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}
.loginbox p{
margin: 0px;
padding: 0%;
font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border:none;
    border-bottom: 1px solid rgb(14, 13, 13);
    background: transparent;
    outline: none;
    height: 40px;
}
.loginbox input[type="submit"]{
    outline: none;
    border: none;
    border-radius: 20px;
    height: 40px;
    background: #2e8686;
    color:black
}
.loginbox input[type="submit"]:hover
{
cursor: pointer;
background: rgb(26, 46, 56);
color: #fff;
}
.loginbox a {
   text-decoration: none;
   font-size: 12px;
   line-height: 20px;
   color:darkgray;
}
.loginbox a :hover{
    color: red;
}